/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/*https://docs.theochu.com/docusaurus/search/ */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5; /*#25c2a0;*/
  --ifm-color-primary-dark: #1d68e1; /*rgb(33, 175, 144);*/
  --ifm-color-primary-darker: #1b62d4; /*rgb(31, 165, 136);*/
  --ifm-color-primary-darkest: #1751af; /*rgb(26, 136, 112);*/
  --ifm-color-primary-light: #4e89e8; /*rgb(70, 203, 174);*/
  --ifm-color-primary-lighter: #5a91ea; /*rgb(102, 212, 189);*/
  --ifm-color-primary-lightest: #80aaef; /*rgb(146, 224, 208);*/
  --ifm-code-font-size: 90%; /*95%;*/
}

.docusaurus-highlight-code-line {
  background-color: rgb(125, 76, 166);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] {
  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

article {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Announcement Bar */
div[class^='announcementBarContent'] {
  background-color: var(--ifm-background-surface-color);
  color: var(--ifm-font-color-base);
}

div[class^='announcementBarContent'] a {
  color: var(--ifm-link-color);
  text-decoration: inherit;
}

div[class^='announcementBarContent'] a:hover {
  color: var(--ifm-link-color);
  text-decoration: underline;
}

.navbar .navbar__items {
  flex: auto;
}

/* Header Dropdown Menu */
.dropdown__link {
  font-size: inherit;
}

/* Remove shadow on the left */
:root {
  --ifm-global-shadow-md: 0px;
}

/* Adjust footer link colors */
#__docusaurus > footer > div > div.text--center > div > a {
  color: unset;
}

#__docusaurus > footer > div > div.text--center > div > a:hover {
  color: var(--ifm-link-color);
  text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
  --ifm-font-family-base: 'Open Sans';
}
